/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


li {
  list-style: none;
}

.app {
  padding: auto;
}

.container {
  display: grid;
  grid-template-areas:
    "header nav nav"
    "main main main"
    "footer footer footer";
    display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto auto;
  gap: 10px;
}


/* Header */
.header {
  grid-area: header;
  grid-column: 3 / span 2;
}

.header-logo {
  width: 70%;
}


/* Nav */
.nav {
  grid-area: nav;
  grid-column: 6 / span 5;
}

.nav-items {
  display: flex;
}


/* Main */
.main {
  grid-area: main;
  grid-column: 3 / span 8;
}


/* Footer */
.footer {
  grid-area: footer;
  grid-column: 3 / span 8;
}

.footer-logo {
  width: 25%;
}

.footer-items {
  display: flex;
}
